venv
english_words/.idea
english_words/db.sqlite3
english_words/english_words/*.pyc
english_words/learn_words/migrations
english_words/learn_words/*.pyc
english_words/loginsys/migrations
english_words/loginsys/*.pyc
english_words/static/*
!english_words/static/css
!english_words/static/js