{% extends 'base.html' %}

{% block add_word %}
<div class="medium-6 medium-centered large-4 large-centered columns">
        <form action="% url 'add_word' %" method="post">
            {% csrf_token %}
            <label for="new_english_word">English: </label>
            <input id="new_english_word" type="text"
                   placeholder="Only one english word"
                   name="english" maxlength="256" value="{{ english }}" required />
            <label for="new_russian_word">Russian: </label>
            <textarea id="new_russian_word"
                      placeholder="Russian translation of the word. If more than one use ',' separator"
                      name="russian" maxlength="256" rows="4" required >{{ russian }}</textarea>
            {% if warning_message %}
                <label class="error"><font color="red">{{ warning_message }}</font></label>
            {% endif %}
            <input id="add_word_button" class="button" type="submit" value="Add" disabled>
        </form>
    </div>
{% endblock %}